doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= banner
    img.className#IdName(src="/images/habicat.svg" alt="Habicat" height="20%" width="20%")
    block content
